.swiper-container {
  position: absolute;
  width: 100%;
}
.item-container {
  position: absolute;
  width: 107px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}
.background {
  width: 107px;
  height: 125px;
  /* box-shadow: 0px 0px 15px rgba(0,0,0,0.5); */
}
.item-text {
  font-size: 12px;
  text-align: center;
}
.item0 {
  left: 50%;
  transform: scale(1) translateX(-50%);
  opacity: 1;
}
.item1 {
  left: 63%;
  transform: scale(0.8);
  opacity: 1;
}
.item2 {
  left: 8%;
  transform: scale(0.8);
  opacity: 1;
}

.toleft{
  animation: toLeft ease-out 500;
}

.toRight{
  animation: toRight ease-out 500;
}

.toCenter{
  animation: toCenter ease-out 500;
}

@keyframes toLeft {
  0% {
    z-index: 3;
  }
  100% {
    opacity: 0;
    transform: scale(0.8) translateX(-100px);
    z-index:2;
  }
}

@keyframes toRight {
  0% {
    z-index: 3;
  }
  100% {
    opacity: 0;
    transform: scale(0.8) translateX(200px);
    z-index:2;
  }
}

@keyframes toCenter {
  0% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(200px);
    z-index: 3;
  }
}
