.button {
    width: auto;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    letter-spacing: 2px;
    background: rgb(211, 247, 159);
    color: #000;
    padding: 5px 10px;
    border: 1px solid #dcdfe6;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;

    > div {
        display: inline-block;
        margin-right: 10px;
    }
}
